// @import 'config';
// @import 'typography';
// @import 'form';
// @import 'list_container';
// @import 'components';

.container-main{
max-width: auto;
  margin: 0 auto;
  text-align: center;
  background: pink; 
  box-sizing: border-box;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

